.singleProduct{
    width: 100vw;
    max-width: 1400px;
  margin: 0 auto;
    height: 100vh;
    background-color: #F6F6F6;
    padding: 8% 6%;
    
}

.main{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
   
   
 
}


@media  screen and (max-width: 660px) {

    .singleProduct{
        padding: 5% 3%;
    }
    .main{
        flex-direction: column;

    }

}